<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="dns-prefetch" href="https://lagoma.netlify.app/card-0001">
    <link rel="preconnect" href="https://lagoma.netlify.app/card-0001" crossorigin>

    <!-- SEO básico -->
    <title>Evento | Nombre festejado</title>
    <meta name="description"
        content="Evento | Nombre festejado | Nos encantaría que puedas acompañarnos, da click para ver todos los detalles.">
    <meta name="keywords" content="invitación, card, invitation card">
    <meta name="author" content="WrongCaesar9">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://lagoma.netlify.app/card-0001">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:locale" content="es_ES">
    <meta property="og:title" content="XV años | Luis Ángel Mora Ramírez">
    <meta property="og:site_name" content="La Goma">
    <meta property="og:description"
        content="XV años | Luis Ángel Mora Ramírez | Nos encantaría que puedas acompañarnos, da click para ver todos los detalles.">
    <meta property="og:url" content="https://lagoma.netlify.app/card-0001">
    <meta property="og:image" content="https://lagoma.netlify.app/logos/og_splash_600.jpg?v2">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="600">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:alt" content="OG Image XV años | Luis Ángel Mora Ramírez">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="XV años | Luis Ángel Mora Ramírez">
    <meta name="twitter:description"
        content="XV años | Luis Ángel Mora Ramírez | Nos encantaría que puedas acompañarnos, da click para ver todos los detalles.">
    <meta name="twitter:image" content="https://lagoma.netlify.app/logos/og_splash_600.jpg?v2">
    <meta name="twitter:site" content="@WrongCaesar9">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Great+Vibes&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playwrite+NG+Modern:wght@100&display=swap"
        rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="https://lagoma.netlify.app/logos/xv_ico.ico" sizes="192x192">
    <link rel="shortcut icon" href="/logos/xv_ico.ico">

    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href="/ci/invites/src/engine/style_cards.css">
    <link rel="stylesheet" type="text/css" href="/ci/invites/src/engine/style_carrousel.css">

</head>

<body>
    <!-- Contenido Principal (oculto inicialmente) -->
    <div id="contenidoPrincipal" class="contenido-principal"><!-- display: none; -->
        <!-- Contenido Principal (oculto inicialmente) -->
        <!-- Audio de fondo + controles insertar en JS-->
        <div class="audio-wrapper" aria-hidden="false">
            <audio id="bgAudio" loop></audio>

            <div class="audio-controls" role="region" aria-label="Controles de audio">
                <button visibility: hidden class="audioBtns" id="btnMute" type="button" aria-pressed="false"></button>
                <button class="audioBtns" id="btnPause" type="button" aria-pressed="false"><svg style="scale: calc(2);"
                        class="corona-svg" width="32" height="32" viewBox="0 0 24 24" fill="none">
                        <!-- Corona más detallada -->

                        <path d="M5 16L3 5L8.5 10L12 4L15.5 10L21 5L19 16H5Z" stroke="#FEE7FE" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M5 16H19V19C19 20.1046 18.1046 21 17 21H7C5.89543 21 5 20.1046 5 19V16Z"
                            stroke="#FEE7FE" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />

                        <!-- Piedras preciosas -->
                        <circle cx="12" cy="8" r="1.5" fill="#F216F2" />
                        <circle cx="8" cy="10" r="0.9" fill="#F665F6" />
                        <circle cx="16" cy="10" r="0.9" fill="#F665F6" />
                        <circle cx="6" cy="12" r="0.7" fill="#FBBCFB" />
                        <circle cx="18" cy="12" r="0.7" fill="#FBBCFB" />
                    </svg></button>
            </div>
        </div>




        <h1>Tipo de Evento<br>Tu nombre completo</h1>
        <img src="" alt="">


        <div class="main-character">
            <img class="foto" src="https://classroomclipart.com/image/content8/79360/thumb.gif" alt="Dama-1">
            <img class="marco" src="https://entodaocasion.com.mx/wp-content/uploads/2023/07/FLORES-HOLANDESA.png"
                alt="marco">

        </div>
        <main class="secciones">
            <section id="seccion-inicio" class="seccion activa">

                <div style="padding-top: 50px;">
                    <iframe data-testid="embed-iframe" style="border-radius:12px; height: 80px;"
                        src="https://open.spotify.com/embed/track/4VnDmjYCZkyeqeb0NIKqdA?utm_source=generator&theme=0" width="100%"
                        height="152" frameBorder="0" allowfullscreen="" autoplay
                        allow="autoplay; picture-in-picture" loading="lazy"></iframe>
                </div>
                <div>
                    <h2 id="line1" style="margin-top: 80px;"></h2>
                    <h2 id="line2"></h2>
                    <h2 id="line3"></h2>
                    <p id="line4"
                        style="letter-spacing: 1px; word-spacing: 3px; font-family: Crimson Text, cursive; font-weight: 700; font-style: italic; font-size: 150%; opacity: 0;">
                    </p>
                    <p id="line5"
                        style="letter-spacing: 1px; word-spacing: 3px; font-family: Great Vibes, cursive; font-weight: 700; font-style: italic; font-size: 200%; opacity: 0;">
                    </p>
                    <p id="line6"
                        style="letter-spacing: 1px; word-spacing: 3px; font-family: Great Vibes, cursive; font-weight: 400; font-style: italic; font-size: 150%; opacity: 0;">
                    </p>
                    <p id="line7"
                        style="letter-spacing: 1px; word-spacing: 3px; font-family: Great Vibes, cursive; font-weight: 700; font-style: italic; font-size: 200%; opacity: 0;">
                    </p>
                    <p id="line8"
                        style="letter-spacing: 1px; word-spacing: 3px; font-family: Great Vibes, cursive; font-weight: 400; font-style: italic; font-size: 150%; opacity: 0;">
                    </p>
                    <p id="line9"
                        style="letter-spacing: 1px; word-spacing: 3px; font-family: Great Vibes, cursive; font-weight: 500; font-style: italic; font-size: 250%; opacity: 0;">
                    </p>
                </div>


                <!-- CountDown -->
                <center>
                    <div style="font-family: Crimson Text, serif;
                  font-weight: 700;
                  font-style: italic;" class="countdown" id="countdown">
                        <div class="item">
                            <div class="num" id="days">00</div>
                            <div class="lbl">Días</div>
                        </div>
                        <div class="item">
                            <div class="num" id="hours">00</div>
                            <div class="lbl">Horas</div>
                        </div>
                        <div class="item">
                            <div class="num" id="mins">00</div>
                            <div class="lbl">Min</div>
                        </div>
                        <div class="item">
                            <div class="num" id="secs">00</div>
                            <div class="lbl">Seg</div>
                        </div>
                    </div>
                    <p><span id="dateText"></span></p>
                </center>
                <!-- CountDown -->

                <h1
                    style="font-family: Great Vibes, cursive; font-weight: 500; font-style: italic; font-size: 280%; letter-spacing: 3px; word-spacing: 4px; margin-top: 50px; margin-bottom: 10px;">
                    Mamá y Abuela:</h1>
                <h1
                    style="font-family: Great Vibes, cursive; font-weight: 500; font-style: italic; font-size: 150%; letter-spacing: 3px; word-spacing: 4px; margin-bottom: 50px; margin-bottom: 50px;">
                    María de los Angeles Mora<br>Esperanza Ramírez</h1>
                <h1
                    style="font-family: Great Vibes, cursive; font-weight: 500; font-style: italic; font-size: 280%; letter-spacing: 3px; word-spacing: 4px; margin-bottom: 10px;">
                    Padrinos de Ceremonia:</h1>
                <h1
                    style="font-family: Great Vibes, cursive; font-weight: 100; font-style: italic; font-size: 150%; letter-spacing: 3px; word-spacing: 4px;">
                    Susana Olivares<br>Oscar Palma</h1>
                    <p style="  font-family: Playwrite NG Modern, cursive;
                  font-optical-sizing: auto;
                  font-weight: 100;
                  font-style: normal;">Mis XV años</p>

                <div class="carousel-gallery" id="carouselGallery" aria-label="Galería de fotos">
                    <div class="carousel-track">
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/17.png" alt="Foto 17">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/01.png" alt="Foto 1">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/02.png" alt="Foto 2">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/03.png" alt="Foto 3">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/04.png" alt="Foto 4">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/05.png" alt="Foto 5">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/06.png" alt="Foto 6">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/07.png" alt="Foto 7">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/08.png" alt="Foto 8">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/09.png" alt="Foto 9">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/10.png" alt="Foto 10">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/11.png" alt="Foto 11">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/12.png" alt="Foto 12">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/13.png" alt="Foto 13">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/14.png" alt="Foto 14">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/15.png" alt="Foto 15">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/16.png" alt="Foto 16">
                        </div>
                    </div>

                    <button class="carousel-btn prev" aria-label="Anterior">‹</button>
                    <button class="carousel-btn next" aria-label="Siguiente">›</button>

                    <div class="carousel-dots" aria-hidden="false"></div>
                </div>

               <!-- El contenedor del modal (oculto por defecto con CSS) -->
<div id="modalFormulario" class="modal" style="display: none;">
  <div class="contenido-modal">
    <button onclick="cerrarModal()">✕ Cerrar</button>
    
    <iframe src="https://forms.gle/N8Ys4cSK3iUEQ8KRA" width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
  </div>
</div>

            <section id="seccion-confirmar" class="seccion-activa'">
                <h2 style="margin-top: 80px;">Confirma tu Asistencia</h2>
                <center>
                    <form class="formulario-confirmacion" >
                        <div class="opcion-asistencia">
                            <label>
                                <input type="radio" name="asistencia" value="si" >
                                <span class="radio-custom"></span>
                                ¡Sí, estaré ahí!
                            </label>
                            <label>
                                <input type="radio" name="asistencia" value="no" >
                                <span class="radio-custom"></span>
                                Lo siento, no podré asistir
                            </label>
                            <label>
                                <input type="radio" name="asistencia" value="talvez" >
                                <span class="radio-custom"></span>
                                Tal vez / No estoy seguro
                            </label>
                        </div>
                        <button onclick="abrirModal()" type="submit" class="btn-whatsapp">
                            Enviar WhatsApp <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884"
                                    fill="currentColor" />
                            </svg>
                        </button>
                    </form>
                </center>
            </section>
            </section>

            <section id="seccion-ubicacion" class="seccion">
                <h2 style="margin-top: 80px;">Ceremonia</h2>
                <p style="  font-family: Playwrite NG Modern, cursive;
                              font-optical-sizing: auto;
                              font-weight: 100;
                              font-style: normal;">📍Parroquia de San Buenaventura📍</p>
                <p style="  font-family: Playwrite NG Modern, cursive;
                              font-optical-sizing: auto;
                              font-weight: 100;
                              font-style: normal;">Pl. de La Constitución Manzana 020, 56000 Tezoyuca, Méx.</p>
                <!-- Puedes agregar un mapa de Google Maps después -->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!4v1764530797527!6m8!1m7!1serIEaqzZ-J0wR1w7FVmH2w!2m2!1d19.59424941896591!2d-98.90583944204003!3f322.6562692029593!4f11.507045695929193!5f0.7820865974627469"
                    width="100%" height="360" style="border:0; padding-bottom: 50px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <div style="border:0; padding-bottom: 50px;">
                    <a class="nav-btn" href='https://maps.app.goo.gl/mCR2TwrysLMy1TVE9'>Abrir Mapa</a>
                </div>



                <h2 style="margin-top: 40px;">Recepción</h2>
                <p style="  font-family: Playwrite NG Modern, cursive;
                              font-optical-sizing: auto;
                              font-weight: 100;
                              font-style: normal;">📍 Boutique Y Regalos "Pablin" 📍</p>
                <p style="  font-family: Playwrite NG Modern, cursive;
                              font-optical-sizing: auto;
                              font-weight: 100;
                              font-style: normal;">Av. México Manzana 006, 56010 Amp. Tezoyuca</p>


                <!-- Mapa de Google Maps después -->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!4v1764474040036!6m8!1m7!1sqyNKWM37z_Zz3pXfJ4sACQ!2m2!1d19.58223664975216!2d-98.92135102054169!3f262.6426688495862!4f-6.3451083352688045!5f0.5705891215334251"
                    width="100%" height="360" style="border:0; padding-bottom: 50px;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <div style="border:0; padding-bottom: 50px;">
                    <a class="nav-btn" href='https://maps.app.goo.gl/jhBk9HQ6zskGXHEV7'>Abrir Mapa</a>
                </div>
            </section>







            <section id="seccion-Galeria" class="seccion">
                <h2 hidden style="margin-top: 80px;">Galería
                    <div class="wave-container">

                    </div>
                    <h2 style="margin-top: 80px;" class="wave-text">
                        <span>G</span><span>a</span><span>l</span><span>e</span><span>r</span><span>í</span><span>a</span>
                    </h2>
                </h2>
                <p style="  font-family: Playwrite NG Modern, cursive;
                  font-optical-sizing: auto;
                  font-weight: 100;
                  font-style: normal;">Mis XV años</p>

                <div class="carousel-gallery" id="carouselGallery" aria-label="Galería de fotos">
                    <div class="carousel-track">
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/17.png" alt="Foto 17">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/01.png" alt="Foto 1">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/02.png" alt="Foto 2">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/03.png" alt="Foto 3">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/04.png" alt="Foto 4">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/05.png" alt="Foto 5">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/06.png" alt="Foto 6">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/07.png" alt="Foto 7">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/08.png" alt="Foto 8">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/09.png" alt="Foto 9">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/10.png" alt="Foto 10">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/11.png" alt="Foto 11">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/12.png" alt="Foto 12">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/13.png" alt="Foto 13">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/14.png" alt="Foto 14">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/15.png" alt="Foto 15">
                        </div>
                        <div class="carousel-slide"><img src="https://lagoma.netlify.app/Archivos/16.png" alt="Foto 16">
                        </div>
                    </div>

                    <button class="carousel-btn prev" aria-label="Anterior">‹</button>
                    <button class="carousel-btn next" aria-label="Siguiente">›</button>

                    <div class="carousel-dots" aria-hidden="false"></div>
                </div>
                <div style="padding-bottom: 50px;"></div>
                <p style="  font-family: Playwrite NG Modern, cursive;
                  font-optical-sizing: auto;
                  font-weight: 100;
                  font-style: normal;">Galeria del Evento</p>

                <div class="carousel-gallery2" id="carouselGallery2" aria-label="Galería de fotos">
                    <div class="carousel-track2">
                        <div class="carousel-slide2"><img src="/Archivos/pe2.png" alt="Recuerdo 1">
                        </div>
                        <div class="carousel-slide2"><img src="/Archivos/pe1.png" alt="Recuerdo 2">
                        </div>
                        <div class="carousel-slide2"><img src="/Archivos/pe3.png" alt="Recuerdo 3">
                        </div>
                        <div class="carousel-slide2"><img src="/Archivos/pe4.png" alt="Recuerdo 4">
                        </div>
                        <div class="carousel-slide2"><img src="/Archivos/pe5.png" alt="Recuerdo 5">
                        </div>
                        <div class="carousel-slide2"><img src="/Archivos/pe6.png" alt="Recuerdo 6">
                        </div>
                        <div class="carousel-slide2"><img
                                src="https://i.pinimg.com/originals/e1/dc/7d/e1dc7d5820ba672b1a7ea67dc24f4e8f.gif"
                                alt="Recuerdo 7">
                        </div>
                        <div class="carousel-slide2"><img
                                src="https://i.pinimg.com/originals/e1/dc/7d/e1dc7d5820ba672b1a7ea67dc24f4e8f.gif"
                                alt="Recuerdo 8">
                        </div>
                        <div class="carousel-slide2"><img
                                src="https://i.pinimg.com/originals/e1/dc/7d/e1dc7d5820ba672b1a7ea67dc24f4e8f.gif"
                                alt="Recuerdo 9">
                        </div>
                        <div class="carousel-slide2"><img
                                src="https://i.pinimg.com/originals/e1/dc/7d/e1dc7d5820ba672b1a7ea67dc24f4e8f.gif"
                                alt="Recuerdo 10">
                        </div>
                    </div>

                    <button class="carousel-btn2 prev2" aria-label="Anterior">‹</button>
                    <button class="carousel-btn2 next2" aria-label="Siguiente">›</button>

                    <div class="carousel-dots2" aria-hidden="false"></div>
                </div>
                <div style="padding-bottom: 50px;"></div>
                <div class="vidspost_style">

                    <video controls>
                        <source src="/Archivos/vid2.mp4" type="video/mp4">
                        Tu navegador no soporta videos.
                    </video>

                </div>

                <div class="vidspost_style">

                    <video controls>
                        <source src="/Archivos/vid1.mp4" type="video/mp4">
                        Tu navegador no soporta videos.
                    </video>

                </div>
            </section>
        </main>
    </div>
    <!-- Javascript-->
    <script src="/ci/invites/src/engine/main_card.js"></script>
</body>

</html>