/* General */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Evitar el scroll global si no es necesario */
}

.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Ocultar scroll innecesario en el layout */
}

/* Sidebar (header a la izquierda) */
.sidebar {
  margin-top: 0%;
  background-color: #333;
  color: white;
  width: 250px;
  height:100%;
  padding: 20px;
  display: flex;
  flex-direction: column;

  position: relative; /* Asegura que se mantenga en el flujo del layout */
}

.sidebar header h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 50%;
}

.sidebar nav ul {
  list-style: none;

}

.sidebar nav ul li {
  margin-bottom: 15px;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
}

/* Contenido principal a la derecha */
.content {
  flex: 1; /* Ocupar todo el espacio restante a la derecha */
  padding: 40px;
  overflow-y: auto; /* Habilitar scroll interno si es necesario */
  height: 100vh; /* Asegura que el contenido se mantenga en pantalla completa */
}

/* Ajustes específicos */
#about img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .content {
    padding: 20px;
    overflow-y: auto; /* Asegura que haya scroll en contenido si es necesario */
  }
}


/* Sección Sobre mí */
#about {
  padding: 50px;
  text-align: center;
}

#about img {
  width: 480px;
  border-radius: 0;

}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Sección Proyectos */
#projects {
  background-color: #f9f9f9;
  padding: 50px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

/* Estilos para los proyectos */
.project {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 100%;
  border-radius: 8px;
}

/* Estilos para imágenes y videos */
.project img, .project video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-height: 400px;
  object-fit: cover;
}

/* Responsivo */
@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}


/* Contacto */
#contact {
  padding: 50px;
  background-color: #333;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input, form textarea {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
