/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #ffffff;
}
h2, h3 {
  color: #000000;
}
h1 {
  color: #ffffff;
}
.sidebar {
 
  width: 200px;
  background-color: #000000;
  color: #fff;
  position: fixed;
  height: 150%;
  transition: width 0.2s;
}

.sidebar h1 {
  text-align: center;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.sidebar a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #555;
}

.hamburger {
  display: none; /* Esconder el menú hamburguesa en pantallas grandes */
  cursor: pointer;
  z-index: 1000;
  position: fixed; /* Cambia la posición a fixed */
  top: 20px; /* Ajusta la posición vertical */
  left: 5px; /* Ajusta la posición horizontal */
}


.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #50bcff;
  margin: 5px;
  transition: 0.3s;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    width: 0; /* Esconder el sidebar por defecto */
    overflow: hidden; /* Evitar scroll */
  }

  .sidebar.active {
    width: 40%; /* Mostrar el sidebar cuando se activa */
  }

  .hamburger {
    display: fixed;
    display: block; /* Mostrar menú hamburguesa en pantallas pequeñas */
  }
}

/* Estilos del contenido principal */
.main-content {
  margin-top: -140px;
  margin-left: 18%;
  padding: 5%;
  width: calc(150%);
}

#about, #contact {
  margin-bottom: 10px;
}

#about p, #contact p {
  font-size: 18px;
  color: #555;
}

/* Estilos de los proyectos */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.project img, .project video {
  width: 100%;
  border-bottom: 4px solid #333;
  border-radius: 8px;
}

.project h3 {
  margin: 15px 0 10px;
  font-size: 20px;
  color: #222;
}

.project p {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}



/* Sección y Footer */
section {/* Este codigo define el espacio entre el header nav y el primer texto de la pagina */
  padding: 1rem;
  padding-top: 5rem;
  text-align: justify;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(80, 80, 80);
  max-width: 100%;
  border-top: 1px solid rgb(68, 252, 255);
  border-bottom: 1px solid rgb(68, 252, 255);
  z-index: 10;
}
/* Fin Sección y Footer */

