/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #ffffff;
}

h2, h3 {
  color: #000000;
}
h1 {
  color: #ffffff;
}
.sidebar {
  width: 250px;
  background-color: #000000;
  color: #fff;
  position: fixed;
  height: 100%;
  transition: width 0.2s;
  overflow-y: auto;
}
nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
}
/*
.sidebar {
    width: 250px;
    
    background-color: #222;
    
}

.sidebar-content {
    padding: 10px;
}





*/





.sidebar h1 {
  text-align: center;
}

.sidebar nav {
  font-size: 90%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.sidebar a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #555;
}

.hamburger {
  display: none; /* Esconder el menú hamburguesa en pantallas grandes */
  cursor: pointer;
  z-index: 1000;
  position: fixed; /* Cambia la posición a fixed */
  top: 20px; /* Ajusta la posición vertical */
  left: 5px; /* Ajusta la posición horizontal */
}


.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #50bcff;
  margin: 5px;
  transition: 0.3s;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    z-index: 50;
    width: 0; /* Esconder el sidebar por defecto */
    overflow-y: auto; /* Evitar scroll */
  }

  .sidebar.active {
    width: 100%; /* Mostrar el sidebar cuando se activa */
  }

  .hamburger {
    display: fixed;
    display: block; /* Mostrar menú hamburguesa en pantallas pequeñas */
  }

  .main-content {
    margin-top: -5%;
    margin-left: 18%;
    padding: 5%;
    width: calc(150%);
  }
}

/* Estilos del contenido principal */
.main-content {
  margin-top: -10%;
  margin-left: 20%;
  padding: 5%;
  width: calc(150%);
}

#about, #contact {
  margin-bottom: 10px;
}

#about p, #contact p {
  font-size: 18px;
  color: #555;
}

/* Estilos de los proyectos */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.project img, .project video {
  width: 100%;
  border-bottom: 4px solid #333;
  border-radius: 8px;
}

.project h3 {
  margin: 15px 0 10px;
  font-size: 20px;
  color: #222;
}

.project p {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}



/* Sección y Footer */
section {/* Este codigo define el espacio entre el header nav y el primer texto de la pagina */
  padding: 1rem;
  padding-top: 5rem;
  text-align: justify;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(80, 80, 80);
  max-width: 100%;
  border-top: 1px solid rgb(68, 252, 255);
  border-bottom: 1px solid rgb(68, 252, 255);
  z-index: 10;
}
/* Fin Sección y Footer */


/* Estilos para el botón de volver arriba */
#scrollTopBtn {
  display: none; /* Ocultarlo por defecto */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99; /* Asegurarse de que esté sobre otros elementos */
  font-size: 100%;
  background-color: #000000;
  color: #ffffff; 
  padding: 20px;
  border-radius: 50%;
  border-color: #ff5353;
  border-style: double;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#scrollTopBtn:hover {
  border-color: #2fe0ff;  
  background-color: #555; /* Cambiar el color al pasar el cursor */
}






* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #bebebe;
}

.skills {
  text-align: right;
  padding-top: 1%;
  padding-bottom: 5px;
  color: rgb(255, 255, 255);
}

.sw {width: 95%; background-color: #ff5353;}
.f360 {width: 50%; background-color: #539bff;}
.catia {width: 50%; background-color: #ff53f4;}
.adk {width: 50%; background-color: #53ffc3;}
.blender {width: 85%; background-color: #ff862f;}
.ue {width: 50%; background-color: #afff2f;}
.maya {width: 35%; background-color: #2fe0ff;}
.hou {width: 30%; background-color: #ff632f;}

.psd {width: 75%; background-color: #3b9dff;}
.aiu {width: 70%; background-color: #ffc676;}
.after {width: 70%; background-color: #bc5fff;}
.premier {width: 80%; background-color: #3131cd;}
.pt {width: 40%; background-color: #44c75c;}
.audi {width: 80%; background-color:rgb(51, 118, 205);}

.cppa {width: 85%; background-color: #3b9dff;}
.cpp {width: 80%; background-color: #db86ff;}
.py {width: 80%; background-color: #ffff3b;}
.html {width: 50%; background-color: #04AA6D;}
.css {width: 40%; background-color: #2196F3;}
.js {width: 30%; background-color: #f44336;}





.mainSlider-slideshow-container {
    max-width: 800px;
    position:relative;
    margin: auto;
}

/* Caption text */
.mainSlider-text {
    color: #000000;
    font-size: 1rem;
    padding: 8px 120px;
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.mainSlider-numbertext {
    color: #000000;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.mainSlider-dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #e4e4e4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.mainSlider-active {
    background-color: #000000;
}

/* Fading animation */
.mainSlider-fade {
    animation-name: mainSlider-fade;
    animation-duration: 1.5s;
}

@keyframes mainSlider-fade {
    from {
        opacity: .4
    } 
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .mainSlider-text {
        font-size: 11px
    }
}
