/* Calcula la altura exacta que necesita compensación */
#productos {
  padding-top: 0rem;

}

#videos {
  padding-top: 0rem;
}

#sugerencia {
  padding-top: 5rem;
}

#addons {
  padding-top: 5rem;
}
.formulario h4 {
  font-size: 15px;
  padding-top: 0.5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  background-image: linear-gradient(to left,
      orangered, rgb(10, 250, 254), rgb(115, 0, 255), rgb(31, 50, 156), rgb(138, 80, 255), orangered);
  background-size: 110vw;
  background-clip: 110vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color 240s linear infinite;
}

.formulario {

  width: 290px;
  background-color: rgba(255, 255, 255, 0.374);
  height: 320px;
  padding: 7px;
  border-radius: 25px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: auto;


  box-shadow: 2px 2px 10px 5px rgba(61, 238, 120, 0.74);
}

.formulario h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #1d1b1b;
  font-weight: 600;
}

.box-input {

  border-bottom: 3px solid #66e7a7;
  position: relative;
  margin: 5px;
  text-align: center;
}

.box-input input {
  text-align: center;
  font-size: 16px;
  color: #100d0d;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 10px;
}

.box-input span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 25%;
  left: 5px;
  color: #000000;
  transform: translateY(-150%);
  z-index: -1;
  transition: 0.5s;
}

.box-input span::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  transition: .5s;
}

.focus+span::before {
  top: -30px;
}

.focus+span::after {
  width: 200%;
}

.boton {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #55c985;
  border: solid 2px #2c9b5a;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.boton:hover {
  background-color: #2F855A;
  border: solid 2px #2F855A;
  transition: .5s;
}
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  /*En esta seccion se agrego la imagen de fondo*/
  background-image: url(/impg/bggames.png);
  background-size: 20%;
  background-color: rgba(81, 81, 81, 0.6);
  background-repeat: repeat;
}

h2,
h3 {
  color: #000000;
}

h1 {
  color: #ffffff;
}

.sidebar {
  width: 250px;
  background-color: #000000;
  color: #fff;
  position: fixed;
  height: 100%;
  transition: width 0.2s;
  overflow-y: auto;
}

nav button {
  display: block;
  color: #000000;
  text-decoration: none;
  margin: 10px 0;
}






.sidebar h1 {
  text-align: center;
}

.sidebar nav {
  font-size: 90%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.sidebar a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #555;
}

.hamburger {
  display: none;
  /* Esconder el menú hamburguesa en pantallas grandes */
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  /* Cambia la posición a fixed */
  top: 20px;
  /* Ajusta la posición vertical */
  left: 5px;
  /* Ajusta la posición horizontal */
}


.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #50bcff;
  margin: 5px;
  transition: 0.3s;
}



/* Estilos del contenido principal */
.main-content {
margin-left: 30vh;
  padding: 8%;

}

#about,
#contact {
  margin-bottom: 10px;
}

#about p,
#contact p {
  font-size: 18px;
  color: #555;
}

                                                              /* Estilos de los addons y productos */
.addons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.addons {
  background-color: #6b6b6b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.addons img,
.addons video {
  width: 100%;
  border-bottom: 4px solid #333;
  border-radius: 8px;
}

.addons h3 {
  margin: 15px 0 10px;
  font-size: 20px;
  color: #ffffff;
}

.addons p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 10px;
}



#productos-contenedor {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
  grid-gap: 10px;
  font-family: Arial;
  font-size: 0.7rem;
  align-items: stretch;
}
.productos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #6b6b6b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(223, 206, 206, 0.1);
  overflow: hidden;

  padding: 1px;
}
.productos img {
  width: 100%;
  border-bottom: 4px solid #333;
  border-radius: 8px;
}
.productos img {
  width: 100%;
  /* ESTA ES LA MAGIA DEL CLS */
  aspect-ratio: 1 / 1;
  /* O la proporción que tengan tus imágenes (4/3, 1/1, etc.) */
  object-fit: cover;
  /* Esto asegura que si la imagen no encaja, se recorte y no se deforme */
  display: block;
  /* Elimina un pequeño espacio en blanco fantasma que sale abajo de las imágenes */
  background-image: url(https://i.pinimg.com/originals/a4/62/d1/a462d192479048db0f02f4466b900e0a.gif);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.productos h2 {
  margin: 15px 0 10px;
  font-size: 0.8rem;
  color: #ffffff;
}
.productos a {
  font-size: 0.8rem;
  color: #021395;
}
.productos a:hover {
  color: #449502;
  padding: 1px 5px;
  border-radius: 10px;
  background-color: cornsilk;
  transition: 0.5s;
}
.productos p {
  color: #412338;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

                                                                /* Estilos de los addons y productos */


/* Sección */
/*Aqui modifica parte del fondo rosa en donde se muestran los productos  #e9dcffac;*/
section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffaa5f00;
}

section h2 {
  text-align: center;
  margin-top: 0;
}

section ubic {
  text-align: center;
  margin-top: 0;
}

section cont {
  text-align: center;
  margin-top: 0;
}

/* Fin Sección*/







/* Estilos para el botón de "volver arriba" personalizado */
.go-top-container {
  position: fixed;
  bottom: 2.5rem;
  right: -1.5rem;
  width: 7.6rem;
  height: 7.6rem;
  transition: 0.5s;
  z-index: -1;
}

.go-top-button {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #1f6197;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.show {
  z-index: 30;
}

.show .go-top-button {
  animation: popup 0.8s ease-in-out;
  width: 5.0rem;
  height: 5.0rem;
  background-image: url(https://cdn-icons-png.flaticon.com/512/892/892550.png);
  background-size: cover;
  z-index: 20;
}

.go-top-button:hover {
  background-color: #ff0000;
  border: solid 5px #aefa97;
  transition: .5s;
}

/* Estilos para el botón de "volver arriba" personalizado */



/*estilos de paginación*/
.paginacion-estilos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.paginacion-estilos button {
  background-color: #335a61;
  /* Usé un color parecido a tu fondo */
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  transition: background 0.3s;
}

.paginacion-estilos button:hover {
  background-color: #1a2f33;
}

/* Estilo para el botón de la página actual */
.paginacion-estilos button.active {
  background-color: #ff9800;
  /* Un color que resalte (naranja ejemplo) */
  font-weight: bold;
  transform: scale(1.1);
}

/* Clase para cuando no hay productos */
.no-resultados {
  grid-column: 1 / -1;
  /* TRUCO: Hace que ocupe todo el ancho del grid */
  text-align: center;
  padding: 50px;
  color: #335a61;
  /* Tu color temático */
  font-size: 1.5rem;
  font-weight: bold;
}

.no-resultados p {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
}

/*estilos de paginación*/

.go-top-button {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #1f6197;
  cursor: pointer;
  transition: 0.9s;
  position: absolute;
  top: 100%;
  left: 50%;

  z-index: -1;
}

.show .go-top-button {
  animation: popup 0.8s ease-in-out;
  width: 2.0rem;
  height: 2.0rem;

}


/* Responsive Styles */
@media (max-width: 810px) {
  section h2 {
  text-align: center;
  margin-top: 0;
  font-size: 0.5rem;
}
  .sidebar {
    z-index: 50;
    width: 0;
    /* Esconder el sidebar por defecto */
    overflow-y: auto;
    /* Evitar scroll */
  }

  .sidebar a {
    color: red;
  }

  .sidebar.active {
    width: 100%;
    /* Mostrar el sidebar cuando se activa */
  }

  .hamburger {
    display: fixed;
    display: block;
    /* Mostrar menú hamburguesa en pantallas pequeñas */
  }
.main-content {
margin-left: 1vh;
  padding: 8%;

}
#productos-contenedor {
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  display: grid;
  grid-gap: 2px;
  text-align:justify;
  font-family: Arial;
  font-size: 0.4rem;
  align-items: stretch;
}
#videos-contenedor {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  display: grid;
  grid-gap: 2px;
  text-align:justify;
  font-family: Arial;
  font-size: 0.4rem;
  align-items: stretch;
}

  .productos a {

    font-size: 0.5rem;
    color: #021395;

  }
.productos p {
  color: #412338;
  font-size: 0.4rem;
  margin-bottom: 10px;
}
.productos h2 {
  margin: 15px 0 10px;
  font-size: 0.5rem;
  color: #ffffff;
}




  .go-top-button {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #1f6197;
    cursor: pointer;
    transition: 0.9s;
    position: absolute;
    top: 60%;
    left: -190%;

    z-index: -1;
  }

  .show .go-top-button {
    animation: popup 0.8s ease-in-out;
    width: 2.0rem;
    height: 2.0rem;

  }
}

/* Animaciones */

@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 5rem;
    height: 5rem;
  }

  100% {
    width: 2.0rem;
    height: 2.0rem;
  }
}

h1 {
  font-size: 25px;
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  background-image: linear-gradient(to right,
      orangered,
      orange, gold, lightgreen, rgb(255, 0, 149), rgb(31, 50, 156), rgb(138, 80, 255), hotpink, orangered);
  background-size: 110vw;
  background-clip: 110vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color 240s linear infinite;
}


@keyframes color {
  100% {
    background-position: -2000vw;
  }
}
