/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  /*En esta seccion se agrego la imagen de fondo*/
  background-image: url(/impg/bggames.png);
  background-size: 20%;
  background-color: rgba(81, 81, 81, 0.6);
  background-repeat: repeat;
}

h2,
h3 {
  color: #000000;
}

h1 {
  color: #ffffff;
}

.sidebar {
  width: 250px;
  background-color: #000000;
  color: #fff;
  position: fixed;
  height: 100%;
  transition: width 0.2s;
  overflow-y: auto;
}

nav {
  background-color: rgb(19, 19, 20);

  width: 100%;
  height: 100px;
  font-size: 1.2rem;
}

nav button {
  border: none;
  text-align: left;
  display: block;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  margin: 10px 0;
}

nav button:hover {
  color: #d3d3d3;
  background-color: rgb(72, 72, 72);
  cursor: pointer;
  border-radius: 10px;
  margin-right: auto;
}

/* 4. BARRA DE BÚSQUEDA */
.whole-search-bar {
  display: inline-flex;
  position: fixed;
  z-index: 1000;
  top: 20px;
  right: 500%;
  width: fit-content;
  font-size: 20px;

  border: none;
}

.whole-search-bar span {
  color: green;
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  font-size: 20px;
  z-index: 2;
  transition: color 0.3s;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
.whole-search-bar input {
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  
  z-index: 2;
  transition: color 0.3s;
  width: 20px;
  height: 20px;
  line-height: 20px;

  flex-grow: 1;
  /* Ocupa todo el espacio sobrante */
  border: none;


  font-size: 1rem;
  background: rgb(255, 255, 255);
  width: 13.5rem;
  margin-bottom: 0.2rem;
  padding-right: 10px;
  border-bottom-color: 5px #2196F3;
  border-radius: 5px;
  padding: 4px 30px 4px 2px;




}


#btn-buscar img {
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: grab;
  border: none;
}

/* 4. BARRA DE BÚSQUEDA */
.datetime {
  position: relative;
  top: -130px;
  left: 50px;
  display: inline-block;
}

/*
.sidebar {
    width: 250px;
    
    background-color: #222;
    
}

.sidebar-content {
    padding: 10px;
}
*/

#productos-contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  font-family: Arial;
  font-size: 0.7rem;
  align-items: stretch;

  /*  obliga a las tarjetas a medir lo mismo */


}





.productos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #335a613f;
  /* opcional, para dar uniformidad */
  padding: 3px;
  border-radius: 10px;
  height: 100%;
  /* fuerza al div a ocupar todo el alto posible */
  font-size: 100%;
  width: auto;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 22%;
}

.productos img {
  width: 100%;
  object-fit: fill;
}



.productos img {
  width: 100%;
  /* ESTA ES LA MAGIA DEL CLS */
  aspect-ratio: 1 / 1;
  /* O la proporción que tengan tus imágenes (4/3, 1/1, etc.) */
  object-fit: cover;
  /* Esto asegura que si la imagen no encaja, se recorte y no se deforme */
  display: block;
  /* Elimina un pequeño espacio en blanco fantasma que sale abajo de las imágenes */
  background-image: url(https://i.pinimg.com/originals/a4/62/d1/a462d192479048db0f02f4466b900e0a.gif);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.paginacion-estilos {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.paginacion-estilos button {
  background-color: #613339;
  /* Usé un color parecido a tu fondo */
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  transition: background 0.3s;
}

.paginacion-estilos button:hover {
  background-color: #1a2f33;
}

/* Estilo para el botón de la página actual */
.paginacion-estilos button.active {
  background-color: #ff9800;
  /* Un color que resalte (naranja ejemplo) */
  font-weight: bold;
  transform: scale(1.1);
}

/* Clase para cuando no hay productos */
.no-resultados {
  grid-column: 1 / -1;
  /* TRUCO: Hace que ocupe todo el ancho del grid */
  text-align: center;
  padding: 50px;
  color: #335a61;
  /* Tu color temático */
  font-size: 1.5rem;
  font-weight: bold;
}

.no-resultados p {
  font-size: 1rem;
  color: #666;
  margin-top: 10px;
}


.toplistxd {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  padding: 7px;
  font-size: 1.2rem;
}

.toplistxd:hover {
  color: #d3d3d3;
  background-color: rgb(72, 72, 72);
  cursor: pointer;
  border-radius: 10px;
  margin-right: auto;
}

.list-ch {
  color: rgb(255, 255, 255);
  background-color: rgb(90, 90, 90);
  border-radius: 15px;
  border: none;
  padding: 7px;
  font-size: 1.2rem;
}

.list-ch:hover {
  color: #d3d3d3;
  background-color: rgb(72, 72, 72);
  cursor: pointer;
  border-radius: 10px;
  margin-right: auto;
}


.sidebar h1 {
  text-align: center;
}

.sidebar nav {
  font-size: 90%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.sidebar a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #555;
}

.hamburger {
  display: none;
  /* Esconder el menú hamburguesa en pantallas grandes */
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  /* Cambia la posición a fixed */
  top: 20px;
  /* Ajusta la posición vertical */
  left: 5px;
  /* Ajusta la posición horizontal */
}


.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #50bcff;
  margin: 5px;
  transition: 0.3s;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    z-index: 50;
    width: 0;
    /* Esconder el sidebar por defecto */
    overflow-y: auto;
    /* Evitar scroll */
  }

  .sidebar.active {
    width: 100%;
    /* Mostrar el sidebar cuando se activa */
  }

  .hamburger {
    display: fixed;
    display: block;
    /* Mostrar menú hamburguesa en pantallas pequeñas */
  }
}

/* Estilos del contenido principal */
.main-content {
  margin-top: -0%;
  margin-left: 20%;
  padding: 5%;
  width: calc(150%);
}

#about,
#contact {
  margin-bottom: 10px;
}

#about p,
#contact p {
  font-size: 18px;
  color: #555;
}

/* Estilos de los proyectos */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.project img,
.project video {
  width: 100%;
  border-bottom: 4px solid #333;
  border-radius: 8px;
}

.project h3 {
  margin: 15px 0 10px;
  font-size: 20px;
  color: #222;
}

.project p {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}



/* Sección y Footer */
section {
  /* Este codigo define el espacio entre el header nav y el primer texto de la pagina */
  padding: 1rem;
  padding-top: 5rem;
  text-align: justify;
}



/* Fin Sección y Footer */


/* Estilos para el botón de volver arriba */
#scrollTopBtn {
  display: none;
  /* Ocultarlo por defecto */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  /* Asegurarse de que esté sobre otros elementos */
  font-size: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 50%;
  border-color: #ff5353;
  border-style: double;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#scrollTopBtn:hover {
  border-color: #2fe0ff;
  background-color: #555;
  /* Cambiar el color al pasar el cursor */
}





/* Animaciones */

@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 7rem;
    height: 7rem;
  }

  100% {
    width: 3.0rem;
    height: 3.0rem;
  }
}

@keyframes appear {
  from {

    clip-path: inset(5% 5% 0 0);
    transform: translatex(-100px);
  }

  to {

    clip-path: inset(0 0 0 0);
    transform: translatex(0px);
  }
}









.go-top-container {
  position: fixed;
  bottom: 2.5rem;
  right: -1.5rem;
  width: 7.6rem;
  height: 7.6rem;
  transition: 0.5s;
  z-index: -1;
}

.go-top-button {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #1f6197;
  cursor: pointer;
  transition: 0.9s;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: -1;
}



.show {
  z-index: 30;
}

.show .go-top-button {
  animation: popup 0.8s ease-in-out;
  width: 5.0rem;
  height: 5.0rem;
  background-image: url(https://cdn-icons-png.flaticon.com/512/892/892550.png);
  background-size: cover;
  z-index: 20;
}

.go-top-button:hover {
  background-color: #ff0000;
  border: solid 5px #aefa97;
  transition: .5s;
}





/* Media Queries para Responsividad */


/* Responsive Styles */
@media (max-width: 768px) {
  .sidebar {
    z-index: 50;
    width: 0; /* Esconder el sidebar por defecto */
    overflow-y: auto; /* Evitar scroll */
  }

  .sidebar.active {
    width: 100%; /* Mostrar el sidebar cuando se activa */
  }

  .hamburger {
    display: fixed;
    display: block; /* Mostrar menú hamburguesa en pantallas pequeñas */
  }

  .main-content {
    margin-top: -5%;
    margin-left: 18%;
    padding: 5%;
    width: calc(150%);
  }
}