body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-color: rgb(255, 229, 245);

  }
  /*
  body{
    background-color: #000000;
    animation-name: colorchange;
    animation-duration:120s;
    animation-iteration-count: infinite;
    font-family: 'Fugaz One',cursive ;
}
@keyframes colorchange {
     0% {background-color: orangered;color:#000000; }
    10% {background-color: orange;color:#222222; }
    20% {background-color: #dac59f;color:#222222; }
    30% {background-color: lightgreen;color:#414141; }
    40% {background-color: rgb(8, 150, 175);color:#878787; }
    50% {background-color: rgb(41, 77, 112);color:#A8A8A8; }
    60% {background-color: rgb(137, 78, 255);color:#D0D0D0; }
    70% {background-color: hotpink;color:#EDEDED; }
    80% {background-color: pink;color:#FFFFFF; }
    90% {background-color: #0036FF;color:#FFEFDA; }
    100%{background-color: orangered;color:#FFE3C0; } 
} 
*/

  header {
    background-color: #2997f1;
    color: white;
    text-align: center;
    padding: 10px;
  }

  nav {
    background-color: #9cd4fcb8;
    text-align: center;
    margin: 3px;
    padding: 0px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 1px;
    padding: 10px;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #ebad27;
  }
  
  main {
    margin: 0 auto;
    max-width: 900 auto;
  
  }
  
  section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #eee4ffb7;
  }
  
  section h2 {
    text-align: center;
    margin-top: 0;
  }

  section ubic {
    text-align: center;
    margin-top: 0;
  }  

  section cont{
    text-align: center;
    margin-top: 0;
  } 

  footer {
    font-size: 10;
    background-color: #0066ffc2;
    color: white;
    text-align: center;
    padding: 10px;
  }

  
  #productos-contenedor {
    
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}


.productos {
  width: 100%;
}

.productos img {
  width: 100%;
  object-fit:fill;
}

h1 {
  font-size: 10px;
  padding-top:15px;
  text-align:center;
  font-weight:bold;
  text-transform:uppercase;
  text-align:center ;

  background-image:linear-gradient(to right,
     orangered,
      orange, gold, lightgreen,rgb(255, 0, 149),rgb(31, 50, 156), rgb(138, 80, 255),hotpink,orangered
       
  );
  background-size:110vw;
  background-clip: 110vw;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent ;
  animation:color 240s linear infinite ;
}


@keyframes color {
  100% {
    background-position:-2000vw;  
  }
}

.go-top-container {
  position: fixed;
  bottom: 1rem;
  right: 0.05rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: -1;
}


.go-top-button {
  width: 0rem;
  height: 0rem;
  background: #2071b2;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #ff0000;
  transition: 0.2s;
}

.show {
  z-index: 10;
}

.show .go-top-button {
  animation: popup 0.7s ease-in-out;
  width: 3.6rem;
  height: 3.6rem;
  z-index: 5;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
      width: 0;
      height: 0;
  }
  50% {
      width: 5rem;
      height: 5rem;
  }
  100% {
      width: 3.6rem;
      height: 3.6rem;
  }
}