/* Calcula la altura exacta que necesita compensación */
#productos {
  padding-top: 14rem;

}

#videos {
  padding-top: 13rem;
}

#sugerencia {
  padding-top: 14rem;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white;

  /*En esta seccion se agrego la imagen de fondo*/
  background-image: url(/impg/bggames.png);
  background-size: 20%;
  background-color: rgba(81, 81, 81, 0.6);
  background-repeat: repeat;
}

main {
  min-width: 480px;
}

/*
  body{
    background-color: #000000;
    animation-name: colorchange;
    animation-duration:120s;
    animation-iteration-count: infinite;
    font-family: 'Fugaz One',cursive ;
}
@keyframes colorchange {
     0% {background-color: orangered;color:#000000; }
    10% {background-color: orange;color:#222222; }
    20% {background-color: #dac59f;color:#222222; }
    30% {background-color: lightgreen;color:#414141; }
    40% {background-color: rgb(8, 150, 175);color:#878787; }
    50% {background-color: rgb(41, 77, 112);color:#A8A8A8; }
    60% {background-color: rgb(137, 78, 255);color:#D0D0D0; }
    70% {background-color: hotpink;color:#EDEDED; }
    80% {background-color: pink;color:#FFFFFF; }
    90% {background-color: #0036FF;color:#FFEFDA; }
    100%{background-color: orangered;color:#FFE3C0; } 
}   background-image: url(/logos/mvcsuper.gif);
*/

header {
  text-align: center;
  position: fixed;
  top: -1.5rem;
  left: 33%;
  transform: translateX(-50%);
  background-color: rgb(19, 19, 20);
  background-size: 1fr;
  text-align: center;
  padding: 1rem;
  font-size: 15px;
  padding-top: 15px;
  width: 132%;
  height: auto;
  scale: 75%;
}

nav {
  height: auto;
  text-align: center;
  position: fixed;
  top: 6.8rem;
  width: 100%;
  left: 49.9%;
  transform: translateX(-50%);

  background-color: rgb(19, 19, 20);
  margin: 1px;
  padding-top: auto;

  font-size: 1.2rem;
}


/*
header.fixed {
  text-align: center;    
  position: fixed;
  top:-1.5rem;
  left:33%;
  transform: translateX(-50%);
  background-color: rgb(19, 19, 20);
  background-size: 1fr; 
  text-align: center;
  padding: 1rem;
  font-size: 15px;
  padding-top:15px;
  transition: 1s;
  width: 132%;
  height: auto;
  scale: 75%;

}




  header {
    height: auto;
    background-color: rgb(19, 19, 20);
    text-align: center;
    padding: 10px;
    width: auto;
    transition: 1s;
  }
  */
/*  background-image: url(/logos/mvcsuper.gif);
  @charset "utf-8";
  header{
    background-color: #9cd4fcb8;
    text-align: center;
    margin: 50px;
    padding: 0px;
  position:fixed;
  background-color: #2997f1;
  color: white;
  text-align: center;
  padding: 10px;
  }
*/
/* 
  
    nav.fixed{
    height: auto;
    text-align: center;    
    position: fixed;
    top: 6.8rem;
    width: 100%;
    left: 49.9%;
    transform: translateX(-50%);

    background-color: rgb(19, 19, 20);
    margin: 1px;
    padding-top: auto;
    transition: 0.8;
    font-size: 1.2rem;
  }

  nav{
    background-repeat: no-repeat;
    background-size: 100%; 
    text-align: center;    
    background-color: rgba(19, 19, 20, 0);
    width: 99%;
    transition: 0.8s;
  }

  
  
  
  
  
  
  
  
  
  
  
  background-blend-mode: multiply;    background-image: url(/logos/mvcsuper.gif);
  @charset "utf-8";
  nav{
    background-color: #9cd4fcb8;
    text-align: center;
    margin: 3px;
    padding: 0px;
  display:grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background: aliceblue;
  font-family: sans-serif;
  position:fixed;
  top:0;
  width:100%;
  }

*/

nav ul {
  list-style-type: none;
  padding: 10px;
}

nav li {
  display: inline-block;
  margin-right: auto;
}

nav a {
  margin: auto;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #3f5461e6;
}

main {
  margin: 0 auto;
  max-width: 900;

}

/*Aqui modifica parte del fondo rosa en donde se muestran los productos  #e9dcffac;*/
section {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffaa5f00;
}

section h2 {
  text-align: center;
  margin-top: 0;
}

section ubic {
  text-align: center;
  margin-top: 0;
}

section cont {
  text-align: center;
  margin-top: 0;
}






footer {
  background-color: rgba(11, 11, 12, 0.931);
  /*background-image: url(/logos/mvcsuper.gif);
    background-size: auto; */
  font-size: 10;

  background-blend-mode: multiply;
  color: white;
  text-align: center;
  padding: 10px;
}









#productos-contenedor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  font-family: Arial;
  font-size: 0.7rem;
  align-items: stretch;

  /*  obliga a las tarjetas a medir lo mismo */


}

/* Para pantallas medianas (tablets) */
@media (max-width: 1600px) {
  #productos-contenedor {
    grid-template-columns: repeat(5, 1fr);
    font-size: 0.7rem;
  }
}

@media (max-width: 1370px) {
  #productos-contenedor {
    grid-template-columns: repeat(4, 1fr);
    font-size: 0.8rem;
  }
}

@media (max-width: 1230px) {
  #productos-contenedor {
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.6rem;
  }
}

/* Para pantallas pequeñas (teléfonos) */
@media (max-width: 768px) {
  #productos-contenedor {
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.6rem;
  }
}

/* Opcional: aún más chico (teléfonos muy pequeños) */
@media (max-width: 480px) {
  #productos-contenedor {
    grid-template-columns: repeat(1, 1fr);
  }
}



.productos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #335a613f;
  /* opcional, para dar uniformidad */
  padding: 3px;
  border-radius: 10px;
  height: 100%;
  /* fuerza al div a ocupar todo el alto posible */
  font-size: 100%;
  width: auto;
}

.productos img {
  width: 100%;
  object-fit: fill;
}



h1 {
  font-size: 25px;
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  background-image: linear-gradient(to right,
      orangered,
      orange, gold, lightgreen, rgb(255, 0, 149), rgb(31, 50, 156), rgb(138, 80, 255), hotpink, orangered);
  background-size: 110vw;
  background-clip: 110vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color 240s linear infinite;
}


@keyframes color {
  100% {
    background-position: -2000vw;
  }
}

.go-top-container {
  position: fixed;
  bottom: 0.1rem;
  right: 0.05rem;
  width: 7.6rem;
  height: 7.6rem;
  z-index: -1;
}

/* Para pantallas medianas (tablets) */
@media (max-width: 1024px) {
  .go-top-container {

    position: fixed;
    bottom: 3rem;
    right: 0.05rem;
    width: 7.6rem;
    height: 7.6rem;
    z-index: -1;
  }
}

/* Para pantallas pequeñas (teléfonos) */
@media (max-width: 768px) {
  .go-top-container {
    position: fixed;
    bottom: 3rem;
    right: 0.05rem;
    width: 7.6rem;
    height: 7.6rem;
    z-index: -1;
  }
}

/* Opcional: aún más chico (teléfonos muy pequeños) */
@media (max-width: 480px) {
  .go-top-container {
    position: fixed;
    bottom: 3rem;
    right: 0.05rem;
    width: 7.6rem;
    height: 7.6rem;
    z-index: -1;
  }
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  background: #1f6197;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.9s;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: -1;
}



.show {
  z-index: 30;
}

.show .go-top-button {
  animation: popup 0.8s ease-in-out;
  width: 5.0rem;
  height: 5.0rem;
  z-index: 20;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #ff0f0f;
  transition: 0.2s;
}

.show i {
  transform: translate(-50%, -44%) scale(1);
}

.go-top-button:hover {
  background-color: #ff0000;
  border: solid 5px #aefa97;
  transition: .5s;
}

@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 7rem;
    height: 7rem;
  }

  100% {
    width: 5.0rem;
    height: 5.0rem;
  }
}

.btn-instagram {
  position: static;
  width: 4rem;
  height: 4rem;
  background: #1f6197;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.8s;

}

.btn-instagram:hover {
  border: solid 6px #ffa1f7;
  transition: 0.8s;
}


.btn-whatsapp {
  position: static;
  width: 4rem;
  height: 4rem;
  background: #1f6197;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.8s;

}

.btn-whatsapp:hover {
  border: solid 4px #44ff54;
  transition: 0.3s;
}




.formulario h4 {
  font-size: 15px;
  padding-top: 0.5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  background-image: linear-gradient(to left,
      orangered, rgb(10, 250, 254), rgb(115, 0, 255), rgb(31, 50, 156), rgb(138, 80, 255), orangered);
  background-size: 110vw;
  background-clip: 110vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color 240s linear infinite;
}

.formulario {

  width: 290px;
  background-color: rgba(255, 255, 255, 0.374);
  height: 320px;
  padding: 7px;
  border-radius: 25px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: auto;


  box-shadow: 2px 2px 10px 5px rgba(61, 238, 120, 0.74);
}

.formulario h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #1d1b1b;
  font-weight: 600;
}

.box-input {

  border-bottom: 3px solid #66e7a7;
  position: relative;
  margin: 5px;
  text-align: center;
}

.box-input input {
  text-align: center;
  font-size: 16px;
  color: #100d0d;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 5px;
  height: 10px;
}

.box-input span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 25%;
  left: 5px;
  color: #000000;
  transform: translateY(-150%);
  z-index: -1;
  transition: 0.5s;
}

.box-input span::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: linear-gradient(120deg, #3498db, #8e44ad);
  transition: .5s;
}

.focus+span::before {
  top: -30px;
}

.focus+span::after {
  width: 200%;
}

.boton {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #55c985;
  border: solid 2px #2c9b5a;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.boton:hover {
  background-color: #2F855A;
  border: solid 2px #2F855A;
  transition: .5s;
}

.img-buscar {

  background-color: #09090900;
  border: #09090900;
  margin-bottom: -0.5rem;

}

.btn-buscar {
  margin-top: -160px;
  background-color: #09090900;
  border: #09090900;

}

.toplistxd {
  color: white;
}

.btn-redirigirN {
  background-color: #51fc2e;
  width: 150px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  /* Alineación horizontal al centro */
  align-items: center;

}


/* Estilos de los proyectos */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: stretch;
}

.project {
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
}

.project img, .project video {
  width: 100%;
  border-bottom: 4px solid #646363;
  border-radius: 8px;
  border-style: dotted;
}

.project h3 {
  margin: 15px 0 10px;
  font-size: 20px;
  color: #fff9f9;
  align-items: stretch;
}

.project p {
  color: #f7f4f4;
  font-size: 16px;
  margin-bottom: 10px;
  align-items: stretch;
}

@keyframes appear {
  from {
    
    clip-path: inset(10% 10% 0 0);
    transform: translatex(-200px);
    }
  to {
  
  clip-path: inset(0 0 0 0);
  transform: translatex(0px);
    }
}


.productos{
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 22%;
}