/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(/logos/Background3.png);
  background-size: 40%;
  background-color: rgb(97, 97, 97);
  background-repeat: repeat;
}

/* Estilos del header */
header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background: rgb(61, 61, 61);
  background-image: url(/logos/Background3.png);
  color: white;
  border-bottom: 2px solid rgb(68, 252, 255);
  border-top: 2px solid rgb(68, 252, 255);
  z-index: 5;
}

/* Estilos del menú de navegación */
header nav a {
  color: #ddd;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  transition: 0.5s;
  border-radius: 10px;
}

header nav a:hover {
  background-color: rgb(158, 158, 158);
}

header .menu a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}

header .menu a:hover {
  color: rgb(101, 193, 224);
}

/* Estilo básico para el menú */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu-item {
  
  position: relative;
}

.menu > .menu-item {
  
  margin-right: 20px;
}

.menu-item a {
  
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.submenu {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #444;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  min-width: 150px;
}

.submenu .submenu {
  left: 100%;
  top: 0;
}

.menu-item:hover > .submenu {
  
  display: block;
}

.submenu a {
  padding: 10px;
  color: white;
  text-decoration: none;
  display: block;
}

/* Estilos para el botón de menú y el menú de navegación */

.menu-toggle {
  display: none;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  color: white; /* El botón tiene color blanco */
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgb(61, 61, 61); /* Mantiene el color de fondo del menú */
  }

  .menu > .menu-item {
    
    margin: 0;
  }

  .menu-item a {
    padding: 15px;
    border-bottom: 1px solid #444;
  }

  .submenu {
    position: static;
    display: none;
  }

  .menu-item:hover > .submenu,
  .menu-item:focus-within > .submenu {
    display: block;
  }

  .submenu .submenu {
    
    padding-left: 15px;
  }

  .menu-toggle {
    display: block;
  }

  .menu.active {
    display: flex;
  }
}

/* Sección y Footer */
section {
  padding: 1rem;
  padding-top: 5rem;
  text-align: justify;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5rem;
  background-color: rgb(80, 80, 80);
  max-width: 100%;
  border-bottom: 2px solid rgb(68, 252, 255);
  border-top: 2px solid rgb(68, 252, 255);
  z-index: 1;
}

/*Fin lo essencial*/

 /*Inicio Estilo para el carrousel mainSlider*/
* {
  box-sizing: border-box;
}
.mainSlider-body {
  font-family: Verdana, sans-serif;
}
.mainSlider-mySlides {
  display: none;
}
.mainSlider-img {
  vertical-align: middle;
}

/* Slideshow container */
.mainSlider-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.mainSlider-text {
  color: #000000;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  bottom: -20px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.mainSlider-numbertext {
  color: #000000;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.mainSlider-dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffb8b8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.mainSlider-active {
  background-color: #703232;
}

/* Fading animation */
.mainSlider-fade {
  animation-name: mainSlider-fade;
  animation-duration: 1.5s;
}

@keyframes mainSlider-fade {
  from {
      opacity: .4
  } 
  to {
      opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .mainSlider-text {
      font-size: 11px
  }
}
 /*Final Estilo para el carrousel mainSlider*/
 /*Letra h2 LA Goma*/
.ballroom-graphic-text h2 {
  font-size:3rem;
  font-style: oblique;
  font-family:'Times New Roman', Times, serif;
  font-size: 48px;
  background-clip: unset;
  font-weight: 0%;
  color: #fff;
 }
/*Letra h2 LA Goma*/
/*Estilos logos footer*/
.icon {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.icon:hover {
    opacity: 0.7;
}
/*Estilos logos footer*/




